.footer
  background-color: #0D2436
  padding: 128px 300px 82px 150px
  &-logo
    width: 90px
    height: 28px
  &-main
    width: 243px
    height: 160px
    margin-right: -47px
    &__link
      display: block
      margin-bottom: 24px
    &__text
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 15px
      line-height: 28px
      color: #5A7184
      margin-bottom: 31px
      overflow-y: auto
      height: 56px
    &-icons
      width: 210px
      &__icon
        margin-right: 18px
  &-product
    margin-left: -19px
    &__title
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      color: #5A7184
      margin-bottom: 31px
    &__items
      list-style: none
      padding: 0
      margin: 0
    &__item
      margin-bottom: 24px
    &__link
      text-decoration: none
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 22px
      color: #959EAD
  &-services
    margin-left: -43px
  &-company
    margin-left: -37px
  &-wrapper
    display: flex
    justify-content: space-between
    margin-bottom: 72px
  &-link
    margin: auto
  &-icon
    margin-bottom: 19px
    border-radius: 50%
    object-fit: cover
  &-copyright
    font-family: Open Sans
    font-style: normal
    font-weight: 600
    font-size: 16px
    line-height: 22px
    text-align: center
    color: #5A7184
  &-heart
    &-link
      display: flex
      flex-direction: column
      justify-content: center
      margin-left: 149px
.to-top
  position: fixed
  bottom: 113px
  right: 300px
  border-radius: 50%
  width: 54px
  height: 54px

