.navbar
  &-block
    display: flex
    justify-content: space-between
    align-items: center
  &-navigation
    width: 594px
    display: flex
    justify-content: space-between
    align-items: center
  &-menu
    width: 423px
    list-style: none
    display: flex
    justify-content: space-between
    &__link
      text-decoration: none

