h1, h2, p
  margin: 0
.hero

  background: url('../img/hero-pictures.png')
  background-color: #FAFDFF
  background-repeat: no-repeat
  background-position: 686px 63px
  padding-top: 52px
  padding-bottom: 104px
  &-wrapper

    position: relative
  &-description
    &__text
      width: 499px
    &__title
      font-family: Roboto
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 60px
      letter-spacing: 0.2px
      color: #183B56
      margin-bottom: 6px
    &__desc
      width: 457px
      font-family: Open Sans
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: #5A7184
      margin-bottom: 63px
    &__button
      padding: 15px 40px
      font-family: Open Sans
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 25px
      color: #FFFFFF
      background: #183B56
      border-radius: 8px
      margin-bottom: 56px
      cursor: pointer
      border: none
      outline: none
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    &__down
      width: 54px
      height: 56px
      border-radius: 50%
      object-fit: cover
.asia
  &-title
    display: block
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 36px
    line-height: 60px
    letter-spacing: 0.2px
    color: #183B56
.agency
  &-title
    font-family: Roboto
    font-style: normal
    font-weight: bold
    font-size: 48px
    line-height: 60px
    letter-spacing: 0.2px
    color: #183B56
    display: block
    margin-bottom: 15px
.down-image
  display: block
  border-radius: 50%